<ion-header>
  <ion-toolbar>
    <ion-title>
      Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Lendo as coordenadas do GPS</h1>
  <ion-list>
    <ion-item>Latitude: {{latitude}}</ion-item>
    <ion-item>Longitude: {{longitude}}</ion-item>
  </ion-list>  
  <h1>Lista dos posts recebidos via API</h1>
  <ion-list>
    <ion-item *ngFor="let post of posts">{{post.title}}</ion-item>
  </ion-list>
</ion-content>
